{% extends 'layout.html' %}

{%block body%}

<div class="search-container">
  <form action="/articles/search" method="POST">
    <input type="text" placeholder="Search.." name="title" value={{request.form.title}}>
    <button type="submit"><i class="fa fa-search"></i></button>
  </form>
</div>
 <h1>Search results for articles</h1>
  <ul class="list-group">
  {% for article in articles %}
    <li class="list-group-item"><a href="article/{{article.id}}">{{article.title}}</a> </li>
  {% endfor %}
 </ul>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>
{%endblock%}
